.center-text{
  text-align: center
}

.img-container{
  width: 350px;
  height: 400px;
  margin-right: 60px;
}

img{
  width: inherit;
  height: inherit;
}

mat-card-content{
  display: flex;
  flex-direction: row;
}

.info-data{
  display: flex;
  flex-direction: row;
}

.input-field{
  width: 500px;
}
