<div class="container">
  <mat-card>
    <mat-card-title style="text-align: center">BEST Summer Academic Course 2018</mat-card-title>
    <mat-card-subtitle>
        BEST, Board of European Students of Technology, is an international non-profit and non-political student organization, organized and run entirely by students. BEST connects students from 96 technical universities in 33 countries in a network that is maintained through numerous joint projects, interests and friendships. Every year it organizes over 120 international courses, seminars and conferences in which students from different countries learn and exchange experiences and ideas. Our priority is to offer quality and to assist students in Europe, and to do everything we can combine the triangle "students - university - companies".

        BEST - Skopje is a full member of the great European family BEST. Thus, students of Ss. "Cyril and Methodius" University in Skopje have the right to use the services of BEST, including the participation of free academic events organized by other local BEST groups.
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="visitSummerCourseSite()">Visit the Site</button>
    </mat-card-actions>
  </mat-card>
</div>
