/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


body{
  margin: 0;
  background-color: whitesmoke
}

mat-card{
  margin: 2% 6%;
}

mat-card-actions
{
    text-align: right;
}


mat-table{
  margin:2% 2%;
}
